.featured-products {
  width: 130rem;
  margin: 0 auto;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    h1 {
      flex: 2;
      font-size: 2.4rem;
      font-weight: 400;
    }
    p {
      flex: 3;
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 0.125rem;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex: 3;
  }
}
